body {
	font: 14pt 'Trebuchet MS', sans-serif; margin: 50px; color: #6A4A3C; margin: 0; padding: 0;
	background-color: #fff;
	background: -moz-linear-gradient(top, #40C0CB, #ffffff);
	background: -webkit-gradient(linear, center top, center bottom, from(#40C0CB), to(#ffffff));
}

a { color: #fff;}

#header { 
	font-size: 36pt; 
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#newdomain, #editdomain, #remove_page, #error { 
	font-size: 18pt; 
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#attachment_quota {
	font-size: 10pt;
	-moz-border-radius: 12px;
	border-radius: 12px;
	padding: 6px;
	background-color: #8FBE00;
	border: 2px solid #AEE239;
	margin-top: 6px;
	color: #eee;
}

#attachment_quota a {
	color: #fff;
}

#newdomain_page {
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	-moz-border-radius: 25px;
	border-radius: 25px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
	background-color: #F9F2E7;
	border: 8px dotted #AEE239;
	margin-bottom: 12px;
}

#newdomain_page a { 
	color: #00A8C6;
}

#welcome { 
	font-size: 22pt; 
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#intro { 
	font-size: 22pt; 
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 10px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
	background-color: #F9F2E7;
	border: 8px dotted #AEE239;
	margin-bottom: 12px;
}

#intro_subdomain {
	color: #F9F2E7;
	margin-top: 22px;
	padding: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #00A8C6;
}

#footer { 
	font-size: 10pt; 
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 22px;
}

#footer a { 
	color: #232323;
}

ul .intro { margin-top: 0px; font-size: 12pt;}

#newdomainform input, #editdomain input, #remove_page input { 
	font-size: 18pt;
	color: #555;
}

#domainpages {
	text-align: left;
	font-size: 12pt;
	margin-top: 30px;
	padding-top: 12px;
	border-top: 1px solid #AEE239;
}

li.intro a {
	color: #00A8C6;
}

#domainstats { 
	text-align: left;
	font-size: 12pt;
	margin-top: 30px;
	padding-top: 12px;
	border-top: 1px solid #AEE239;
}

intput.checkbox { width: 20px; height: 20px; font-size: 18pt; }

.editcontent {
	width: 100%; 
	height:400px;
	color: #222;
	font: 9pt 'Courier New', monospace; 
	margin: 50px; 
	margin: 0; 
	padding: 5px;
}


.button {
	color: #fff;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.orange {
	color: #F9F2E7;
	border: solid 1px #40C0CB;
	background: #00A8C6;
	background: -webkit-gradient(linear, left top, left bottom, from(#00A8C6), to(#40C0CB));
	background: -moz-linear-gradient(top,  #00A8C6,  #40C0CB);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A8C6', endColorstr='#40C0CB');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#00A8C6), to(#ffffff));
	background: -moz-linear-gradient(top,  #00A8C6,  #ffffff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A8C6', endColorstr='#ffffff');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#00A8C6), to(#40C0CB));
	background: -moz-linear-gradient(top,  #00A8C6,  #40C0CB);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A8C6', endColorstr='#40C0CB');
}

.green {
	color: #fff;
	border: solid 1px #AEE239;
	background: #8FBE00;
	background: -webkit-gradient(linear, left top, left bottom, from(#8FBE00), to(#AEE239));
	background: -moz-linear-gradient(top,  #8FBE00,  #AEE239);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#8FBE00', endColorstr='#AEE239');
	font-weight: bold;
}

.red {
	color: #fef4e9;
	background: #CC2A41;
}
