body {
	font: 14pt 'Trebuchet MS', sans-serif; margin: 50px; color: #6A4A3C; margin: 0; padding: 0;
	background-color: #00A0B0;
	background: -moz-linear-gradient(top, #00A0B0, #A7DBD8);
	background: -webkit-gradient(linear, center top, center bottom, from(#00A0B0), to(#A7DBD8));
}

a { color: #CC333F;}

#header { 
	font-size: 36pt; 
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
	
#newdomain, #editdomain { 
	font-size: 18pt; 
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#newdomain_page {
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	-moz-border-radius: 25px;
	border-radius: 25px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
	background-color: #EDC951;
	border: 8px dotted #EB6841;
	margin-bottom: 12px;
}

#welcome { 
	font-size: 22pt; 
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#intro { 
	font-size: 22pt; 
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 10px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
	background-color: #EDC951;
	border: 8px dotted #EB6841;
	margin-bottom: 12px;
}

#footer { 
	font-size: 10pt; 
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 22px;
}

ul .intro { margin-top: 0px; font-size: 12pt;}

#newdomainform input, #editdomain input { 
	font-size: 18pt;
	color: #555;
}

#domainpages {
	text-align: left;
	font-size: 12pt;
	margin-top: 30px;
	padding-top: 12px;
	border-top: 1px solid #EB6841;
}

#domainstats { 
	text-align: left;
	font-size: 12pt;
	margin-top: 30px;
	padding-top: 12px;
	border-top: 1px solid #EB6841;
}

intput.checkbox { width: 20px; height: 20px; font-size: 18pt; }

.editcontent {
	width: 100%; 
	height:400px;
	color: #222;
	font: 9pt 'Courier New', monospace; 
	margin: 50px; 
	margin: 0; 
	padding: 5px;
}


.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.red {
	color: #fef4e9;
	border: solid 1px #AB0067;
	background: #DE00A3;
	background: -webkit-gradient(linear, left top, left bottom, from(#DE00A3), to(#800082));
	background: -moz-linear-gradient(top,  #DE00A3,  #800082);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC333F', endColorstr='#800082');
}
.red:hover {
	background: #DE00A3;
	background: -webkit-gradient(linear, left top, left bottom, from(#DE00A3), to(#800082));
	background: -moz-linear-gradient(top,  #DE00A3,  #800082);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DE00A3', endColorstr='#800082');
}
.red:active {
	color: #DE00A3;
	background: -webkit-gradient(linear, left top, left bottom, from(#DE00A3), to(#800082));
	background: -moz-linear-gradient(top,  #DE00A3,  #800082);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DE00A3', endColorstr='#800082');
}